# MacOS specific files
.DS_Store

# Agents
.agents/

# large-ish data files
img_pool.mat 
k_labels.pkl
alexnet/alexnet_acts.pkl

# ignore autosave files
__pycache__/
.ipynb_checkpoints/
*.egg-info/
*.asv
*.pyc
*.swp
*.Rhistory

# any figures
*.png
*.svg

# old files
OLD*

# slurm outputs
errlog/

# testing on local
*audit.*
